@model GrantParkCoffeeShop2.ViewModels.ShoppingCartViewModel
@section Styles {
        <link rel="stylesheet" href="~/css/custom.css" />
    }

<div class="=row">
    <h2>Your shopping cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected Amount</th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Product.ProductName</td>
                    <td class="text-right">@line.Product.UnitPrice.ToString("c")</td>
                    <td class="text-right">@((line.Amount * line.Product.UnitPrice).ToString("c"))
                    </td>
                </tr>
            }




        </tbody>
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </table>"

</div>