@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{ ViewData["Title"] = "Home Page"; }

<div class="container">
    <div class="row">
        <div class=" col-sm text-center">
            <h1 class="display-4 test">Welcome to the World of Great Coffee and Fresh, Delicious Food</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid " src="/coffeeCupLogo.png" alt="cup of hot coffee" />
        </div>
    </div>


</div>



