@model IEnumerable<GrantParkCoffeeShop2.Models.RoomReservationModel>

@{
    ViewData["Title"] = "RoomReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Room Reservations</h1>

<p>
    <a asp-action="MakeRoomReservation">Make Room Reservation</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
